@import 'tailwindcss';
@import 'flowbite-react/plugin/tailwindcss';
@source './**/*.{ts,tsx}';
@source '../node_modules/flowbite-react/dist/**/*.{js,mjs}';
@custom-variant dark (&:where(.webstudio-dark-disabled, .webstudio-dark-disabled *));

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

:root {
  color-scheme: light;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}
